
.container {
    width: 1600px;
    height: 1600px;
background-color: #e2e7ec;
display: flex;
flex-wrap: wrap;

margin: 0 auto;
padding: 50px;
align-items: center;
box-sizing: border-box;
}

.part_1{
    flex: 2;
    flex-grow: 1;
    padding: 0;
   background-color: white;
   margin-right: 20px;
   margin-left: 180px;
   height: 540px;
   margin-top: 100px;
    
}
.part_2 {
    margin-top: 100px;
  padding: 0;
    flex: 1;
    background-color: white;
    height: 540px;
    width: 300px;
    margin-right: 200px;
   
}
.part_3 {
    
    padding: 0;
    flex: 1;
    background-color: white;
    height: 540px;
    margin-right: 20px;
    margin-left: 180px;
    margin-bottom: 240px;

}
.part_4 {
    margin-bottom: 240px;
    padding: 0;
    flex: 1;
    background-color: white;
    height: 540px;
    margin-right: 20px;
  
}
.part_5 {
    margin-bottom: 240px;
    padding: 0;
    flex: 1;
    background-color: white;
    height: 540px;
    margin-right: 200px;   
}
.date {
color: #818181;
font-family: 
font-size: 13px;
font-weight: 500;
line-height: 30px;
text-transform: uppercase;
letter-spacing: 0.33px;
margin-left: 20px;
margin-bottom: 20px;
margin-top: 20px; }

.text {
    margin-left: 20px;
color: #1d1d1d;
font-size: 22px;
font-weight: 400;
line-height: 30px;
text-transform: uppercase;
letter-spacing: 0.55px;
}
#text4 {
    margin-top: 70px;
   }
footer {
 margin-top: -380px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.8;
}
.icon {
    margin-top: 50px;
    margin-left: 20px;
}


.part_1{
    display: box;
    display: flex;
    box-align: baseline;
    align-items: center;
    box-pack: end;
    justify-content: left;
}
#car {
    position: relative;
    }
    #overlay {
        position: absolute;
        margin-top: 25px;
    }
.date1 {
    margin-top: 145px;
    margin-left: 30px;
    color: #818181;
font-size: 13px;
font-weight: 500;
line-height: 30px;
text-transform: uppercase;
letter-spacing: 0.33px;
    position: absolute;
}
.text1 {
    margin-top: 200px;
    margin-left: 30px;
    position: absolute;
    color: #ffffff;
font-size: 30px;
font-weight: 400;
line-height: 36px;
text-transform: uppercase;
letter-spacing: 0.75px;
}